/* Note: h1 = 32px, h2 = 24px, h3 = 18.72px
Color scheme: #14CC45 highlight; #00A82D default;
/* Box-sizing makes box calculated from margin + padding. */
*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Nunito", sans-serif;
    position: relative;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

@media (min-width: 961px){

/************DESKTOP NAV BAR ***********************************/

.mobileMenu{
    display: none;
}

.desktopMenu{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    background: black;
    color: white;
}
.desktopnavWrapper{
    display: block;
    padding: 0px 200px 0px 200px;
}

nav.desktopNav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 15px 0px 15px 0px;
}

/* name*/
nav.desktopNav .name{
    text-decoration: none;
}
/* end name*/

header li{
    list-style-type: none;
    padding-right: 20px;

}

.contact{
    padding-right: 0px !important;
}

header li a{
    text-decoration: none;
    color: white;
}

header li a:visited, nav.desktopNav a:visited{
    color: white;
}

header li a:focus, nav.desktopNav a:focus{
    color: #00A82D;
    outline: none;
}

header li a:active, nav.desktopNav a:active, header li a:hover, nav.desktopNav a:hover{
    color: #00A82D;
}

.name{
    color: white;
}

nav.desktopNav ul{
    display: flex;
    justify-content: space-between;
}

.addShadow{
    box-shadow:0px 3px 5px #222222c5;
}



/**************** END DESKTOP NAV BAR *************************************/

/***********DESKTOP About Me*************************/
#aboutMe{
    position: relative;
    font-size: 24px;
    padding: 80px 200px 20px 200px;
}

#aboutMe p{
    line-height: 1.5;
}

div.myPictureContainer{
    display: flex;
    justify-content: center;
}

.myPicture{
    height: 450px;
}

div.aboutMeLinks{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.linkContainer{
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
}


.linkContainer:focus{
    box-shadow: 0px 3px 5px #5f5f5fc5; 
}


.linkContainer:hover{
    box-shadow: 0px 3px 5px #5f5f5fc5; 

}

.linkContainer:active{
    box-shadow: none;
    position: relative;
    top: 3px;
    left: 3px;
}

.gitLink{
    height: 70px;
    outline-style: none;
}

.cv{
    height: 70px;
    outline-style: none;
}

.gitLink:focus, .cv:focus {
    outline: none;
}

.descriptorText{
    margin-top: 10px;
}





/*********DESKTOP End of About Me*******************/

/********************* Projects section ******************/

#projects{
    padding: 20px 200px 0.01px 200px;
    background: rgb(246, 246, 246);
}
a.projectPic{
    height: 250px;
    width: 49%;
    box-shadow: 0px 3px 5px #969696c5;
    border-radius: 10px;
}

a.projectPic:focus{
    outline: none;
    box-shadow: 0px 5px 3px 2px #5c5c5cc5;

}

a.projectPic:hover{
    box-shadow: 0px 5px 5px #3a3a3ac5;
}

a.projectPic:active{
    position: relative;
    box-shadow: none;
    top: 6px;
    left: 6px;
}

#projects h2{
    font-size: 38px;
    padding-bottom: 50px;
}
.project1, .project2, .project3, .project4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.projectDescriptor{
    display: inline-block;
    width: 49%;
}

.picture1, .picture2, .picture3, .picture4{
    display: inline-block;
    border-radius: 10px;
    background-size: cover;
    width: 100%;
    height: 250px;
    
}

.picture1{
    background-image: url("../assets/images/ptsd-poster/ptsd-poster.svg");
}

.picture2{
    background-image: url("../assets/images/blog/Cover.png");
}

.picture3{
    background-image: url("../assets/images/hailey-paper/diverse-coworkers.jpg");
}

.picture4{
    background-image: url("../assets/images/hailey-paper/diverse-coworkers.jpg");
}

#projects h3{
    font-size: 28px;
    margin-top: 3px;
}

#projects a.pageLink{
    background-color: #00A82D;
    color: white;
    text-decoration: none;
    font-weight: bold;  
    padding: 15px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 7px;
    font-size: 20px;
    width: 50%;
    text-align: center;
    box-shadow: 0px 3px 5px #969696c5;
}



#projects a.pageLink:hover{
    background-color: #14CC45;
}


#projects a.pageLink:active{
    position: relative;
    top: 6px;
    left: 6px;
    background-color: #015736;
    box-shadow: none;
}

#projects a.pageLink:focus{
background-color: #14CC45;
}

#projects p{
    padding-top: 3px;
    font-size: 24px;

}
/**************END DESKTOP PROJECTS*************/



/******************** DESKTOP Contact Me + Footer *********************/
#contact{
    padding: 20px 200px 20px 200px;
    font-size: 24px;
}

#contact h2{
    font-size: 35px;
}

footer{
    padding: 10px 200px 10px 200px;
    border-bottom: none;
    background-color: black;
    color: white;
}

footer a:active, footer a:visited, footer a:link{
    color: #14CC45;
}




/******************** DESKTOP End of contact me and footer **************/
}
