/* Note: h1 = 32px, h2 = 24px, h3 = 18.72px

/* Box-sizing makes box calculated from margin + padding. */
*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Nunito", sans-serif;
    position: relative;
}

/***************** Nav Bar *************************/
header{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    top: 0;
}

.nameAndButton{
    background-color: rgba(255, 255, 255, 0.904);
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(199, 199, 199);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 24px;
}

.name{
    padding-bottom: 2px;
}

.toggleButton{
    z-index: 2;
    font-size: 20px; 
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding: 5px 9px 3px 9px;
    background-color: rgba(241, 241, 241, 0.657);
    cursor: pointer;
}

span{
    display: none;
}


header li{
    list-style-type: none;
}

header li a{
    text-decoration: none;
    padding: 5px 10px 5px 0px;
}

.headerLinks{
    /*background-color: rgba(255, 255, 255, 0.904);*/
}

.links{
    display: none;
    height: 100vh;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    width: 100%;

}

.links li{ 
    padding: 0px 0px 20px 20px;
}


/************************* JS Actions ******************************/
.closeAppear{

    display: block;
}

.expand{
    display: block;
    animation-name: fadein;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}

.disappear{
    display: none;
    
}

.invisible{
    visibility: hidden;
    
}


.removeBorder{
    border: none;
    
}

.grow{
    margin: 0px;
    padding: 6px 10px 6px 10px;
    
}

.addShadow{
    box-shadow:0px 5px 5px rgb(187, 187, 187);
}



/************************End of actions*******************************/
/*Animation*/
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.904);
    }
  }
/***************** End of Nav Bar *****************/

div.allSections{
z-index: 0;
margin-top: 90px;
}

#aboutMe{
    margin: 10px 20px 10px 20px;
}
