*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Nunito", sans-serif;
    position: relative;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}


/***************** Nav Bar *************************/
header{
    display: flex;
    font-size: 32px;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}
/*header dimensions 759.2x53.4*/

.nameAndButton{
    background: white;
    justify-content: space-between;
    font-weight: bold;
}

.name{
    padding-bottom: 2px;
}

.toggleButton{
    display: none;
    z-index: 2;
    font-size: 24px; 
    /*border: 2px solid rgb(0, 0, 0);*/
    border-radius: 5px;
    padding: 5px 9px 3px 9px;
    cursor: pointer;
}


span{
    display: none;
}


header li{
    display: inline-block;
    list-style-type: none;
}

header li a{
    text-decoration: none;
    padding: 5px 10px 5px 0px;
    color: black;
}

header li a:visited{
    color: black;
}

header li a:active{
    color: #00A82D;
}

.headerLinks{
    display: flex;

}
.links{
    height: 100vh;
    font-size: 32px;
    font-weight: bold;
    width: 100%;

}

.links li{ 
    padding: 0px 0px 20px 20px;
}


/************************* JS Actions for Nav Bar ******************************/

.addShadow{
    box-shadow:0px 3px 5px #7c7c7cc5;
}


/***************** End of Nav Bar *****************/


div.allSections{
    z-index: 0;
}