/* Note: h1 = 32px, h2 = 24px, h3 = 18.72px
Color scheme: e3e7af, 7ddf64, c2f9bb, 032325
/* Box-sizing makes box calculated from margin + padding. */
*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Nunito", sans-serif;
    position: relative;
}


/***************** Nav Bar *************************/
header{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    top: 0;
    
}
/*header dimensions 759.2x53.4*/

.nameAndButton{
    background: linear-gradient(90deg, #044275 30%,#05ca7f);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 24px;
    color:white;
}

.name{
    padding-bottom: 2px;
}

.toggleButton{
    z-index: 2;
    font-size: 20px; 
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 9px 3px 9px;
    cursor: pointer;
}

span{
    display: none;
}


header li{
    list-style-type: none;
}

header li a{
    text-decoration: none;
    padding: 5px 10px 5px 0px;
}

.links{
    display: none;
    height: 100vh;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    width: 100%;

}

.links li{ 
    padding: 0px 0px 20px 20px;
}


/************************* JS Actions for Nav Bar ******************************/
.closeAppear{

    display: block;
}

.expand{
    display: block;
}

.animate{
    animation-name: fadein;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.disappear{
    display: none;
    
}

.invisible{
    visibility: hidden;
    
}


.removeBorder{
    border: none;
    background: none;
}

.grow{
    margin: 0px;
    padding: 6px 10px 6px 10px;
    
}

.addShadow{
    box-shadow:0px 3px 5px #032325c5;
}

.disableScroll{
    overflow: hidden;
    box-shadow: none;
}


/************************End of actions*******************************/
/*Animation*/
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
        background: linear-gradient(180deg, #044275 30%,#05ca7f);
    }
  }
/***************** End of Nav Bar *****************/


div.allSections{
    z-index: 0;
}
/***********About Me*************************/
#aboutMe{
    margin-top: 0px;
    padding: 90px 20px 20px 20px; 
}
.myPicture{
    border-radius: 100px;
}
/*********End of About Me*******************/


/********************* Projects section ******************/
#projects{
    padding: 20px;
    background-color: #025aa326;
}

#projects img{
    border-radius: 10px;
}


#projects h2{

}
#projects a{
    background-color: rgb(100, 223, 147);
}

div.project1{
    margin-top: 20px !important;
}

#projects div{
    margin-top: 30px;
}


/******************* End of Projects Section *************/


/******************** Contact Me + Footer *********************/
#contact{
    padding: 20px;
}

footer{
    padding-left: 20px;
    padding-bottom: 20px;
}
/******************** End of contact me and footer **************/