/* Note: h1 = 32px, h2 = 24px, h3 = 18.72px
Color scheme: #00A82D default
/* Box-sizing makes box calculated from margin + padding. */
*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Nunito", sans-serif;
    position: relative;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}


/***************** Nav Bar *************************/
header{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}
/*header dimensions 759.2x53.4*/

.nameAndButton{
    background: white;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 24px;
}

.name{
    padding-bottom: 2px;
}

.toggleButton{
    z-index: 2;
    font-size: 24px; 
    border-radius: 5px;
    padding: 5px 9px 3px 9px;
    cursor: pointer;
}


span{
    display: none;
}


header li{
    list-style-type: none;
}

header li a{
    text-decoration: none;
    padding: 5px 10px 5px 0px;
    color: black;
}

header li a:visited{
    color: black;
}

header li a:active{
    color: #00A82D;
}

.links{
    display: none;
    height: 100vh;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    width: 100%;

}

.links li{ 
    padding: 0px 0px 20px 20px;
}


/************************* JS Actions for Nav Bar ******************************/
.closeAppear{

    display: block;
}

.expand{
    display: block;
}

.animate{
    animation-name: fadein;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.disappear{
    display: none;
    
}

.invisible{
    visibility: hidden;
    
}


.removeBorder{
    border: none;
    background: none;
}

.grow{
    margin: 0px;
    padding: 6px 10px 6px 10px;
    
}

.addShadow{
    box-shadow:0px 3px 5px #7c7c7cc5;
}

.disableScroll{
    overflow: hidden;
    box-shadow: none;
    touch-action: none;
}


/************************End of actions*******************************/
/*Animation*/
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
        background: white;
    }
  }
/***************** End of Nav Bar *****************/

/*********picture and links*******/
#projectMainLinks{
padding: 50px 20px 10px 20px;
border-bottom: 2px solid black;
    
}

.projectMainPicture{
    width: 100%;
    border-radius: 10px;
}

.linkContainer{
    display: flex;
    justify-content: center;
}

.linkContainer a{
    background-color: #00A82D;
    color: white;
    text-decoration: none;
    font-weight: bold;  
    padding: 15px;
    border-radius: 6px;
    display: inline-block;
    margin: 10px;
    font-size: 15px;
}

h1{
    font-size: 32px;
}

/******End picture and links *********/

/*****Body*******/
#bodyText{
    padding: 20px;
    line-height: 1.5;
}

p{
    font-size: 18px;
}

li{
    list-style-type:none;
}

h2{
    -webkit-text-decoration: underline solid black 3px;
}

h3{
    font-size: 20px;
}

/*****footer*****/
footer{
    padding: 10px;
    border-bottom: none;
    background-color: black;
    color: white;
}

footer a:active, footer a:visited, footer a:link{
    color: #14CC45;
}
/****End footer******/